*{
  margin: 0;
  padding: 0;
}
.phoneImg{
  display: block;
}

.link{
  text-decoration: none;
  color: #000;
}

.register:hover{
  cursor: pointer;
}

.btn{
  background: none;
  border: none;
  font-weight: 600;
  color: #0095F6;
  cursor: pointer;
}
.btn:hover{
  color: #E0F1FF;
}
.text:focus{
  outline: none;
}

@media screen and (max-width: 875px) {
  .phoneImg {
    display: none;
  }
}